@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*Conteiner*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* выше прописано выравнивание по центру столбца */
    width: 100%;
    height: 100vh; /* во весь экран по высоте */
    background: url("../images/Intro.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__suptitle {
    font-size: 62px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 25px;
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #fff;
    margin: 60px auto; /* сверху60 справа-слева по центру */
}


/*Header*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* важность */
    padding-top: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between; /* элементы по разные стороны контейнера */
    align-items: center; /* выровнять элементы по центру */
}

.header__logo {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

/*Nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase; /* весь текст большими буквами*/
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    transition: color .3s linear; /* смена цвета текста с задержкой в 0.2сек */
    position: relative; /* относится к подчёркиванию */
}

.nav__link:after {

    /* создание подчёркивания */
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fce38a; /* цвет подчёркивания */

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .5s linear, color .5s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2px;
    transition: background .5s linear;

}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Slider */
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: 0.7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 11;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/* Section */

.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;;
}

.section__title {
    font-size: 30px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;

    background-color: #f38181;

}

.section__text {
    font-size: 15px;
}