@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*Conteiner*/
.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/
.intro {
    width: 100%;
    height: 100vh; /* во весь экран по высоте */
    background: url("../images/Intro.jpg") center no-repeat;
    background-size: cover;
}

/*Header*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* важность */
    padding-top: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between; /* элементы по разные стороны контейнера */
    align-items: center; /* выровнять элементы по центру */
}

.header__logo {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

/*Nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase; /* весь текст большими буквами*/
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear; /* смена цвета текста с задержкой в 0.2сек */
    position: relative;
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after {
    display: block;
}